.footer-container {
  color: #999;
  font-size: 12px;
  width: 100%;
  height: 100%;

  .el-row {
    height: 90%;
    &:last-child {
      height: 10%;
      .footer-info {
        // 垂直水平居中对齐方式-----------开始-----------实现底部版权信息垂直水平居中
        position: relative;
        small {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          // 垂直水平居中对齐方式-----------开始
          i {
            // font-style: normal !important;
            font-style: normal;
          }
        }
      }
    }
    .el-col {
      height: 100%;
      .logo-bg {
        width: 300px;
        height: 72px;

        background-image: url(~public/logo_coo.png);
        background-repeat: round;
      }
      p {
        text-align: start;
      }
      h3 {
        font-size: 19px;
        font-weight: 500;
        margin: 0 0 20px 0;
      }
    }

    .aboutme {
      height: 88%;
      text-align: start;
      h3 {
        font-size: 19px;
        font-weight: 500;
      }
      .el-col {
        div {
          height: 30px;
        }
      }
    }

    .friend-links {
      h3 {
        text-align: start;
        margin: 0 0 20px 0;
      }
      .friend-item {
        height: 50%;
        text-align: start;
        div {
          height: 30%;
        }
      }
    }
  }
}