
  .home-top-carousel {
    overflow: hidden;
    position: absolute;
    width: 100%;

    .el-carousel {
      .el-carousel__container {
        .el-carousel__item {
          h3 {
            line-height: 640px;
          }

        }
      }
    }




  }

  .el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
