* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

#slider {
  text-align: center;
  padding: 24px 0;

}

.window {
  position: relative;
  width: 840px;
  height: 390px;
  // margin:0 auto;
  overflow: hidden;


  box-shadow: 0  0 5px0 #bebebe;
}

.container {
  display: flex;
  position: absolute;
}

.left,
.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 50%;
  cursor: pointer;
}

.left {
  left: 3%;
  padding-left: 12px;
  padding-top: 10px;
}

.right {
  right: 3%;
  padding-right: 12px;
  padding-top: 10px;
}

img {
  user-select: none;
}

.dots {
  // position: absolute;
  // bottom: 10px;
  // left: 50%;
  // transform: translateX(-50%);
}

.dots li {
  // display: inline-block;
  // width: 15px;
  // height: 15px;
  // margin: 0 3px;
  // border: 1px solid white;
  // border-radius: 50%;
  // background-color: #333;
  // cursor: pointer;
}

// .dots 

#slider {
  display: flex;
  flex-flow: row;

  .window {
    flex: 2;
  }

  .dots-div {
    flex: 1;
    position: relative;
    background-color: #000000;

    box-shadow: 0 0 5px #000;

    ul {
      width: 70%;
      height: 70%;
      padding-left: 8%;

      background-color: rgba(97, 97, 97, 0.3);
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translate(0, -50%);

      display: flex;
      flex-flow: column;

      box-shadow:0 0 8px #DDD;




      li {
        // margin: 10px 0;
        // display: table-row;
        // vertical-align: middle;
        font-size: 14px;
        color: #a5a5a5;

        flex: 1;

        position: relative;

        a {
          text-decoration: none;
          color: inherit;

          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }

        &.dotted {
          color: #fff;
        }
      }
    }
  }
}