.ad-with-lessons {

  .el-row {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;

    transition: left .3s ease-in;

    .el-col {
      margin: 20px 12px 20px 0;
      width: 392px;
      max-width: 392px;
      min-width: 392px;
      height: 110px;

    }
  }
}