#admin {

  .el-container {

    .el-aside {

      background-color: #333;
      color: #fff;
      height: 100vh;

      .el-menu {

        height: 100%;
      }


    }

    .el-container {

      .el-header {
 
        

      }
      
      .el-main {


        }

      .el-footer {


      }
    }
  }
}