.home-lessons {
  width: 100%;
  height: fit-content;
  // border: 1px solid blueviolet;
  // box-shadow: 0 2px 12px 0 rgb(235, 235, 235);

  background-color: #f5f5f5;


  .card-head {
    font-size: 24px;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .card-lessons {

    display: flex;
    flex-flow: row wrap;


    .card-aside {
      flex: 1;
      margin-right: 20px;
      min-width: 229px;
      // margin-right: 20px;

      .el-card {
        border-radius: unset;
        height: inherit;
        box-shadow: inherit;




        .el-card__body {



          .h-l-img {
            height: 324px;

            position: relative;
            background-color: transparent;

            img {}

            .el-link {

              display: block;
              width: 100%;
              height: 100%;
              z-index: 2;
              position: absolute;
              top: 0;


              div {
                width: 64px;
                height: 64px;
                // background-color: red;

                border-radius: 50%;

                position: absolute;
                top: 64%;
                left: 50%;
                transform: translate(-50%, -50%);
                overflow: hidden;


                .el-icon-video-play {

                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);


                  font-size: 54px;
                  border-radius: 50%;

                  color: #fff;
                  transition: all 1.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;


                  &:hover,
                  &.video-hover {

                    transition: all 1.2s;
                    font-size: 72px;

                    box-shadow: 0px -10px 10px 0px #ffffff30, -10px 0px 10px 0px #ffffff29, 10px 0px 10px 0px #ffffff36, 0px 10px 10px 0px #ffffff38;

                  }



                }
              }
            }

            .h-l-inner {
              padding: 30px 8px 0;
              box-sizing: border-box;

              position: absolute;
              z-index: 1;
              height: 100%;
              width: 100%;
              top: 0;
              background-color: rgba(97, 197, 201, 0.890196);

              color: #fff;

              .h-l-hx {
                width: 25%;
                border-bottom: 4px solid #fff;
              }

              h3 {
                height: 20px;
                line-height: 20px;
                font-size: 14px;
                padding: 8px 0 3px;

                // 单行省略
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              h4 {
                line-height: 33px;
                font-size: 24px;
                padding: 8px 0 5px;
              }

              span {
                line-height: 17px;
                font-size: 12px;
              }

            }

          }

          .el-image {
            width: 100%;
            height: 323px;
            border-radius: none;
          }

          .el-card-divs {
            padding: 12px;

            .el-link:not(:first-child) {
              margin-top: 12px;
            }

            .el-link {

              width: 100%;
              
              justify-content: inherit;

              text-decoration: none;
              color: #333;

              .el-link--inner {
                width: 100%;

                span:first-child {
                  // 行内元素必须设置为块，不然无法进行单行省略
                  display: inline-block;
                  // 单行省略
                  width: 75%;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;

                  // 覆盖样式

                }

                span:last-child {
                  float: right;
                  
                }
              }


            }

            // height: 23%;


          }
        }
      }
    }

    .card-body {
      flex: 4;

      .container-flex-a {
        display: block;

        text-decoration: none;
        color: #333;

        transition: all 0.6s;

        .container-flex-img {
          overflow: hidden;

          img {
            // 图片放大动画
            width: 100%;
            transition: all 0.6s;


            &:hover {
              transform: scale(1.2);
            }
          }

          .enter_img {
            transform: scale(1.2);
          }
        }



        .course_info_body {

          padding: 6px 12px 12px;


          h3 {
            height: 22px;
            line-height: 22px;
            font-size: 14px;
            margin-bottom: 8px;

            // 单行溢出省略
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          span {
            font-size: 12px;
            height: 17px;
            line-height: 17px;

            &.el-icon-user {
              float: right;
            }
          }
        }
      }

      // margin-left: 20px;
      // display: flex;
      // flex-flow: row;
      // .el-row {
      //   // ------------------flex布局,让flex布局能够自动换行
      //   flex-flow: row;
      //   flex-wrap: wrap;

      //   justify-content: space-between;
      //   // justify-content: space-between;
      //   // ------------------flex布局,让flex布局能够自动换行--结束
      //   height: fit-content;
      //   margin: 0 !important;
      //   // margin-bottom: 2% !important;
      //   // margin: 0 0 2% 0 !important;

      //   &:last-child {
      //     // margin-bottom: 0 !important;
      //   }

      //   .el-col {
      //     flex: 1;
      //     // -----------------若想让flex布局能够自动换行，则必须固定width，若设置max-width则当布局盒子总宽度小于该值时，则width会压缩失真
      //     width: 229px;
      //     max-width: 229px;
      //     // min-width: 229px;
      //     // --------------------j结束
      //     height: 200px;
      //     border-radius: 4px;
      //     padding: 0 !important;
      //     // padding: 0;
      //     margin-bottom: 20px;
      //     background-color: #fff;

      //     &:hover {
      //       box-shadow:0 5px 15px -5px rgba(0,0,0,.5);

      //     }
      //   }

      //   .grid-content {
      //     display: block;
      //     border-radius: 4px;
      //     // height: 100%;


      //     text-decoration: none;
      //     text-align: start;
      //     font-size: 14px;

      //     img {
      //       width: 100%;
      //     }

      //     .lesson-name {
      //       padding: 6px 12px 6px 12px;
      //       overflow: hidden;

      //       span {
      //         overflow: hidden;
      //         white-space: nowrap;
      //         text-overflow: ellipsis;
      //       }
      //     }

      //     .lesson-info {
      //       padding: 6px 12px 6px 12px;
      //       font-size: 12px;

      //       span {
      //         text-align: start;

      //         &:last-child {
      //           margin-left: 53%;
      //         }
      //       }
      //     }
      //   }
      // }
    }

  }





}