.ad-with-lessons {

  .el-row {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;

    transition: left .3s ease-in;

    .el-col {
      margin: 20px 0 20px 0;
      width: 404px;
      // max-width: 392px;
      min-width: 404x;
      height: 110px;

    }
  }
}