#special-course-good {
  h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    font-weight: 500;

    margin: 20px 0;
  }

  .good-course-body {
    flex: 4;

    .el-row {
      // ------------------flex布局,让flex布局能够自动换行
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: space-between;
      // ------------------flex布局,让flex布局能够自动换行--结束
      height: fit-content;
      margin: 0 !important;


      .el-col {
        flex: 1;
        // -----------------若想让flex布局能够自动换行，则必须固定width，若设置max-width则当布局盒子总宽度小于该值时，则width会压缩失真
        width: 229px;
        min-width: 229px;
        max-width: 229px;
        // --------------------j结束
        height: fit-content;
        border-radius: 4px;
        padding: 0 !important;
        margin-bottom: 20px;
        background-color: #fff;

        &:hover {
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);

        }

        .grid-content {
          display: block;
          border-radius: 4px;


          text-decoration: none;
          text-align: start;
          font-size: 14px;

          img {
            width: 100%;
          }

          .lesson-bottom {

            height: 140px;
            padding: 14px;

            .lesson-name {

              // 实现多行文本溢出省略显示
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              height: 104px;

              b {
                font-size: 14px;
              }

              .school {
                font-size: 12px;
                margin-top: 8px;
              }

              .name {
                font-size: 12px;
                margin-top: 12px;
              }
            }

          }


          .lesson-info {
            font-size: 12px;

            span {
              text-align: start;

              &:last-child {
                float: right;

                &:before {
                  margin-right: 3px;
                }
              }
            }
          }
        }
      }


    }
  }

  .options-lesson-pages {

    // -------------------让分页水平居中对齐
    display: table;
    margin: 0 auto;

    padding: 30px 0 112px;

    .el-pagination {
      // 适合内容
      width: fit-content;

    }
  }

}