.clear{zoom:1;}
a{
    text-decoration: none;
}
em,i{font-style:normal;}
.clear:after{ content:""; display:block; clear:both;}
.nav_left .p1,.contain7 i,.wen a,.kc_bottom li,.ui_bottom li,.contain7 .span span,.nav_right a,.java_bottom li,.nav_right span,.nav_right span p,.sxh_left img,.sxh_left p,.sxh_title a,.btnw span,.bottom_part1 p a,.sxh_video:after,.class170109 a,.class170109 u,.class170109,.kb_bottom a{transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3;
  -ms-transition: 0.3s;}
  .nav_main em,.nav_main i{font-style:normal;}
/*top*/
.sy_top{ height:36px; background-color:#f6f6f6; border-bottom: solid 2px #f0f0f0;position: relative;z-index:999999;}
.sy_top .base{height:36px;width:1200px;margin:0 auto;padding:0;overflow:visible;}
.sy_top p{ width:517px;float:left; color:#7d7d7d; font-size:12px; line-height:36px; font-family:"Microsoft YaHei",å¾®è½¯é›…é»‘,"Microsoft JhengHei",åŽæ–‡ç»†é»‘,STHeiti,MingLiu;}
.sy_top ul{
    float: right;
    height:19px;
    margin-top:12px;
    margin-right:0px;
    display:inline;
}
.sy_top ul li{ float:left; font:12px "å®‹ä½“"; color:#ff762e; padding:0 10px; border-right:solid 1px #999; list-style-type:none;}
.sy_top ul li a{color:#999; text-decoration:none;}
.sy_top ul li a:hover{ text-decoration:underline;}
.sy_top ul li:nth-child(5) a{
    color:#f00;
}
.sy_topad{
    width:313px;
    height:67px;
    float:right;
    margin-top:10px;
    margin-right:-20px;
}

.sy_menu{ height:39px; background-image:url(/images/student/job/sy_menu_bg.gif);margin-bottom:10px; *margin-bottom:18px!important;}

.sinaweibo{ width:73px; height:24px; margin-top:7px; margin-left:16px;float:right;display:inline;}
.txweibo{width:74px; height:24px; margin-top:9px; margin-left:4px;float:left;overflow:hidden;display:inline;}

.sy_logo{ height:55px; margin:22px  auto 23px auto; }

.sy_logoimg{width:314px; height:47px;position:relative; float:left;}

.call{display:block;float:right;line-height: 38px;height:36px;padding-left:20px;font-size:14px; background: url(/images/index/call_ico.png) no-repeat left 10px;color:#333;position:relative;}

/*nav*/

.nav_main{position: relative;z-index:100000;background:#fff;margin-bottom:2px;}

.nav_main .base{width:1200px; margin:0 auto;overflow:visible;padding:0;height:50px;}



.nav_main a:hover{text-decoration:none;}

.nav_fixed{background: #fafafa;width:100%;}
.nav_bg{background:#fff;height:60px; padding:15px;}
.nav_left{float:left;}
.nav_right .nav:nth-child(1){padding-left:0;}
.nav_right a:nth-last-child(1){padding-right:0;}
.nav_right i a{padding:0;width:80px;display:block;margin:0 auto;line-height:45px;font-size:16px; color:#000;border-bottom:1px solid #dfdfdf;}
.nav_right i:hover a{font-weight: 100;}
.nav_right i:hover{background:#38adea;}
.nav_right i{position: relative;/*padding:0 38px 0 20px;*/line-height:50px;display:inline-block;font-size:16px; color:#fff;cursor:pointer;}
.nav_right i a:nth-last-child(1){border-bottom:none;}
.nav_right i a:hover{color:#38adea;}
.nav_right i div{position: absolute;top:50px;background:#fff;text-align: center;width:100%;left:-1px;height:0px;overflow:hidden;-webkit-transition:0.3s;-ms-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;transition:0.3s; white-space: nowrap;}
/* .nav_right i:hover div{height:150px;border:1px solid #38adea;} */
.nav_right i:hover div{height:auto!important;border:1px solid #38adea;}

/*8.15修改*/
/* .nav_right i:nth-child(6):hover div{height:100px;border:1px solid #38adea;} */

.nav_right i:nth-child(4){padding: 0 38px;}
.nav_right i:nth-child(4) a{width: 110px;}
.nav_right i:nth-child(4):hover div{height:104px;border:1px solid #38adea;}


.nav_right i:after{
    position: absolute;
    display: block;
    right: 5px;
    top: 23px;
    width: 0;
    height: 0;
    content: "";
    border-width: 5px 5px;
    border-color: #fff transparent transparent transparent;
    border-style: solid;
}
.nav_right i:nth-child(4):after{
    right:17px;
}
.nav_left img{float:left;}

.nav_left .xq{float:left;border-left:1px solid #afafaf;height:44px;margin:7px 0 0 15px;padding:0 0 0 10px; display:inline; position: relative;top:3px;}

.nav_left .xq_tab{position: relative;cursor:pointer;width:65px;z-index:1000;}

.nav_left .p1{width:0px; height:0px;background: #fff;overflow:hidden;border:1px solid #fff;}

/* .nav_left .p2{width:330px;} */

.nav_left .xq_tab:hover .p1{width:430px;height:115px;border:1px solid #dfdfdf; text-align: left;}

.nav_left i{font-size:16px; font-weight:bold;color:#000;display:inline-block;margin-bottom:2px;}

.nav_left .xq_tab em{color:#ff6224;font-size:14px;display:inline-block;margin:0;line-height: 22px;position: relative;}
.nav_left em:after{
    position: absolute;
    display: block;
    right: -12px;
    top: 9px;
    width: 0;
    height: 0;
    content: "";
    border-width: 5px 5px;
    border-color: #ff6224 transparent transparent transparent;
    border-style: solid;
}
.nav_left span{display:inline-block;font-size:14px; color:#000; margin-left:20px; padding-top:10px;}

.nav_left p{margin-left:20px;}

.nav_left a{color:#000;font-size:14px;}

.nav_left a:hover{color:#ea4c06;}
.index_nav_r{float:right;padding-top:10px;}


.nav_right a,.nav_right span,.nav_right i{text-align:center; padding:0 24px;height:50px;line-height:50px;display:inline-block;font-size:16px;color:#fff;cursor:pointer;}
.nav_right span{position: relative;}
.nav_right span:before{
   position: absolute;
    display: block;
    right: 18px;
    top: 23px;
    width: 0;
    height: 0;
    border-width: 5px 5px;
    border-color: #fff transparent transparent transparent;
    border-style: solid;
}
.nav_right span.on:before{border-color: #fff transparent transparent transparent;left:50%;margin-left:-7px;
    top: 37px;-webkit-transform:rotate(180deg);border-width: 7px 7px;}
.nav_right .nav:nth-last-child(1){padding-right:0;}

.nav_right a:hover{/*background:#3b80db; color:#fff;*/font-weight: 900;}

.nav_right span{position: relative;z-index:1000;}

.nav_right span p{position: absolute; top:60px;height:0;overflow:hidden;}

.nav_right p a{display:block;width:70px; height:40px;padding:0;border-bottom:1px solid #515258;line-height: 40px;color:#f5f5f5; font-size:14px;background:rgba(0,0,0,0.5);}
.nav_right span:hover p{height:410px;font-weight: 100;}
.nav_right span p a:hover{color:#ea4c06;background: none;background:rgba(0,0,0,0.5);}
a.nav_on,i.nav_on{/*background:#3b80db;color:#fff;*/font-weight: 900;}

.nav_right span p .cloud{
  font-size: 12px;
}
/*16.11.18*/
.nav{background: none;height:auto;margin-bottom:0;}

/*nav_new170109*/

.class170109{background:#fff;height:0;overflow:hidden;width:100%;border-bottom:1px solid #dbdbdb;}

.class170109.on{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);height:162px;}

.class170109 .basebase{border-top:1px solid #dbdbdb;}

.class170109 .base{padding:20px 0;}

.class170109 a{display:block;float:left;text-align: center;width:98px;padding:10px 0; border-right:1px solid #e2e2e2;}

.class170109 a:nth-child(1){width:64px;padding-right:20px;}

.class170109 a:nth-last-child(1){border:none;width:96px;padding-left:10px;}

.class170109 img{margin:0 auto;margin-bottom:6px;}

.class170109 u{display:block;text-decoration: none;color:#797979; font-size:14px;}

.class170109 a:hover u{color:#ff7403;font-weight:bold;}

.class170109 a:hover{-webkit-transform:translatey(-4px);-moz-transform:translatey(-4px);-ms-transform:translatey(-4px);-o-transform:translatey(-4px)}

/*17.01.10*/

.nav_fixed{background: #018dd6;width:100%;}
.nav_right span{position: relative;z-index:10005;border-bottom:none;position: relative;}
.nav_right span.on{font-weight: 900;border-bottom:none;background:#38adea;}
.nav_right span.on:after{display:block;}
.nav_right span:hover p{height:0;}
.class170109 .base{padding:20px 0;}
.android_con2_list1 li{float:left;}

.android_con2_list1 .h5_ts{background:#b4d9f0;display:block;padding-top:30px;}

.android_con2_list1 .h5_ts div{width:525px; margin:0 auto;}

.android_con2_list1 .h5_ts .h5_title{margin-bottom:23px;}

.h5_title{color:#fff;padding:0 30px;background:#368fc4;height:62px;line-height: 62px;}

.h5_title h2{float:left;font-size:26px;}

.h5_title span{display:block; float:right;font-size:14px;padding-top:5px;}

.android_con2_list1 .h5_ts .h5_nr{color:#3c3c3c;margin-bottom:20px;}

.h5_nr h3{font-size:16px;margin-bottom:8px;line-height: 16px;}

.h5_nr i{display:block;line-height: 26px;font-size:14px;color:#555454;height:120px;}

.h5_img{position: relative;width:525px; height:400px;}

.h5_img img{position: absolute;top:0; left:0;}

.h5_img img:nth-child(3){top:34px;left:4px;}

.h5_img img:nth-child(1){z-index:2; top:-14px;left:4px;}

.h5_link1701 em{display:block;float:right;padding:15px 0 25px 0;color:#ff2000; font-size:16px;}

.fixed_blank{background: #475056;}
/*bottom*/
.bottom_part2{
    background:#276dc3;
    overflow: hidden;
    padding-bottom: 50px;
}
.c_base{width: 1200px;margin:0 auto;position: relative;}
.c_bot_lt{width: 1200px;float: left; position: relative;z-index: 30}
.c_bot_rg{float: right; position: absolute;top:5px;right:0;}

.c_bot_lt_hd:after{
    content:  "";
    display: block;
    clear:  both;
}
.c_bot_lt_hd a{
    float: left;
    width:64px;
    height:95px;
    line-height: 95px;
    margin-right: 7px;
    color:#fff;
    text-align: center;
    text-decoration:none;
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 10px;
    font-family:"Microsoft YaHei";
 }
/*  .c_bot_lt_hd a:nth-child(13){
    margin-right: 0px;
 } */
 .c_bot_lt_hd a:last-child{
    margin-right: 0px;
 }
.c_bot_lt_hd a.active{
    background:url(http://www.mobiletrain.org/images/index/bottom_part2.png) no-repeat center top;
}
.c_bot_rg{position: absolute;right:0;top:5px;}
.c_bot_lt ul{padding:1% 0 0; width: 635px; min-height: 163px;}
.c_bot_lt li{color:#fff;line-height:200%;display:none; font-size: 16px;text-align: left;font-family: "Microsoft YaHei";font-weight: 100;}
.c_bot_rg li{ float:left; font-size:13px; text-align:center;color:#fff; line-height:18px;padding-top: 35%}
.c_bot_rg li p{ padding-top:5px;}

.bottom_part2 strong{
    font-size: 18px;
    font-weight: 900;
    color:#edba11;
    line-height:56px;
}
.bottom_part3{
    width:100%;
    background:#143257;
    box-sizing:border-box;
    padding:5px 0px 11px;

}

.c_footer{
    text-align:center;
    font-size:13px;
    line-height:28px;
    color:#AFAFAF;
    font-family: "Microsoft YaHei";
 }
.c_footer a{padding:0 2px;}
.c_footer .c_footer_nav a:hover{
    text-decoration:underline;
}
.c_footer_nav{
    width:100%;
    text-align: center;
}
.c_footer_nav a{
    font-size:13px;
    padding:4px;color:#fff;
}
.c_footer_nav a:hover{
    padding:0 4px;
    color:#ffda0c;
}
.c_footer p a{color:#AFAFAF;}
.c_footer p{font-size:12px;line-height: 14px;}
.c_bot_lt ul li:nth-child(1){display:list-item;}
.bottom_part3 .base{padding:0;}
/*left*/
.base_fixed{background:rgba(0,0,0,0);width:65px;font-family:微软雅黑;position:absolute;z-index:100000;left:0;}.base_fixed a{display:block;width:65px;height:28px;border:1px solid #e3e3e3;border-top:none;text-align:center;padding-top:40px;font-size:12px;line-height:20px;background:#fff url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat 20px 15px;color:#000000;text-decoration:none;}.base_fixed .f_a1{background:#f1801b url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat 20px 15px;color:#fff;border-color:#f1801b;border-bottom:1px solid #e3e3e3;}.base_fixed .f_a2{background:#fff url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat 20px -49px;}.base_fixed .f_a3{background:#fff url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat 20px -108px;}.base_fixed .f_a4{background:#fff url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat 20px -168px;}.base_fixed .f_a7{background:#fff url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat 20px -368px;}.base_fixed .f_a7:hover{background:#f1801b url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat -47px -368px;color:#fff;border-color:#f1801b;}.base_fixed .f_a5{background:#fff url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat 20px -228px;}.base_fixed .f_a6{background:#fff url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat 20px -288px;position:relative;-webkit-transition:0.3s;}.base_fixed .f_a2:hover{background:#f1801b url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat -44px -49px;color:#fff;border-color:#f1801b;}.base_fixed .f_a3:hover{background:#f1801b url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat -44px -108px;color:#fff;border-color:#f1801b;}.base_fixed .f_a4:hover{background:#f1801b url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat -44px -168px;color:#fff;border-color:#f1801b;}.base_fixed .f_a5:hover{background:#f1801b url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat -44px -228px;color:#fff;border-color:#f1801b;}.base_fixed .f_a6:hover{background:#f1801b url(http://www.mobiletrain.org/images/b_f_ico.png) no-repeat -44px -288px;color:#fff;border-color:#f1801b;}.base_fixed .f_a6:hover i{width:150px;}.base_fixed i{display:inline-block;background:#f1801b;position:absolute;font-size:14px;font-weight:bold;width:150px;text-align:center;height:69px;line-height:69px;left:70px;top:0;color:#fff;font-style:normal;overflow:hidden;width:0;-webkit-transition:0.3s;width:0;}
/*新left  20170614*/
.base_fixed_sy{background:rgba(0,0,0,0);width:65px;font-family:å¾®è½¯é›…é»‘;position:absolute;z-index:100000;left:0;}
.base_fixed_sy a{
    font-size: 12px;
    color:#fff;
    display: block;
    width:72px;
    height:44px;
    background: #107eb9;
    line-height: 44px;
    border:0px;
    border-bottom: 1px solid #70b2d5;
    padding-top: 0px;
    position: relative;
    text-align: center;
}
.base_fixed_sy a span{
    display: block;
    position: absolute;
    top:-1px;
    left:0px;
    background:#fff;
    width:72px;
    overflow: hidden;
    height:44px;
    border:1px solid rgba(255,0,0,.2);
    opacity: 0;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
}
.base_fixed_sy a span em{
    font-size: 12px;
    line-height: 44px;
    color:#107eb9;
    display: none;
    float: right;
    width:111px;
    text-align: center;
}
.base_fixed_sy a span i{
    display: block;
    float: left;
    width:72px;
    text-align: center;
    line-height: 44px;
    color:#e70012;
    font-size: 12px;
}
.base_fixed_sy a:hover span{
    opacity: 1;
    width:185px;
}
.base_fixed_sy a:hover span em{
    display: block;
}
.base_fixed_sy .qf_fix02{
    display: none;
}
.base_fixed_sy2{background:rgba(0,0,0,0);width:88px;font-family:å¾®è½¯é›…é»‘;position:absolute;z-index:100000;left:0;}
.fixed_wrap{
    position: relative;
    width:88px;
    height:540px;
    padding-top:20px;
    /*陈蔚磊修改7.5*/
    top: -66px;
}
.fixed_wrap:before{
    content: "";
    display: block;
    position: absolute;
    width:40px;
    height:478px;
    /*陈蔚磊修改7.5*/
    height: 520px;
    background: #000;
    top:40px;
    left:24px;
}
.base_fixed_sy2 p{
    width:88px;
    height:63px;
    background: url(/images/cdh_p_bg.png) no-repeat center top;
    margin-bottom:10px;
    position: relative;
    cursor: pointer;
}
.base_fixed_sy2 p:after{
    content: "";
    display: block;
    position: absolute;
    width:76px;
    height:19px;
    background: url(/images/chujiao.png) no-repeat center top;
    left:6px;
    top:-19px;
}
 .base_fixed_sy2 a{
    display: block;
    position: relative;
    margin:5px 0;
}
.base_fixed_sy2 a span{
    display: none;
}
.base_fixed_sy2 a i{
    font-size: 12px;
    color:#000;
    display: block;
    width:86px;
    height:36px;
    background: #fff100;
    line-height: 36px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 18px;
}
.base_fixed_sy2 a:hover span{
    display: block;
    width:240px;
    height:55px;
    border:0px;
    background: url(/images/cdh_span_bg.png) no-repeat center top;
}
.base_fixed_sy2 a:hover i{
    display: none;
}
.base_fixed_sy2 .mb0{
    margin-bottom: 0px;
}
.base_fixed_sy2 .qf_fix02{
    width:58px;
    height:28px;
    border-radius: 0px;
    margin:0 auto;
    background: url(/images/cdh_fh.png) no-repeat center;
    border:0px;
}
/*放大镜*/
.big17410{cursor:url(/images/+.ico),auto;}
.big17410 img{position: relative;z-index: 1000;}
/*公共-周末班*/
.base-bk-big{background: #fff;}
.base-bk-17520{padding:60px 0;}
.base-bk-17520 h4{font-size:48px;line-height: 48px;color:#000;margin-bottom:15px;font-weight: 100;}
.base-bk-17520 h4,.base-bk-17520 p,.base-bk-17520 .link17520{text-align:center;}
.base-bk-17520 p{color:#4a4a4a;font-size:24px; line-height:36px;margin-bottom:40px;}
.base-bk-17520 p i,.base-bk-17520 li em i{color:#e24242;font-weight:bold;}
.base-bk-17520 a.base-link-17520{display: inline-block;padding:15px 50px;color:#fff;background: #f34848;border-radius: 30px;font-size:20px;}
.base-bk-17520 a.base-link-17520:hover{background:#df4242;}
.base-bk-17520 ul{margin-bottom:40px;overflow: hidden;}
.base-bk-17520 li{padding:15px 0 0 0; text-align: center;float:left;width:212px;border:1px solid #ccc;margin-right:7px;}
.base-bk-17520 li:nth-last-child(1){margin-right:0;}
.base-bk-17520 li:hover{border-color:#f34848;}
.base-bk-17520 li img{margin-bottom:20px;}
.base-bk-17520 li h2{margin-bottom:12px;font-size:16px;color:#5c5c5c;}
.base-bk-17520 li em{display: inline-block;text-align: left;font-size:14px; color:#898989; line-height: 22px;margin-bottom:25px;}
.base-bk-17520 li a{display:block;border-top:1px solid #ccc;padding:10px 0;font-size:16px; color:#f34848;}
.base-bk-17520 li a:hover{text-decoration: underline;}






























