#article-all {
  .el-tabs {

    .el-tabs__header {
      padding: 10px 20px;
      box-shadow: 0 0 0 1px #eee;
      background: #fff;
      border-top: none;
      margin-bottom: 20px;
      border-radius: 0 0 4px 4px;

      .el-tabs__nav-wrap::after {
        display: none;
      }
    }

    .el-tabs__content {
      background: #fff;
      box-shadow: 0 0 0 1px #eee;
      border-radius: 4px;


      .el-tab-pane {
        padding: 0 20px 20px;

        &.student-body-article {

          padding: 0;

          &>* {
            padding: 0 20px 0px;
          }

          .leibie {
            margin: 8px 0;


            .el-button {
              padding: 8px 12px;

              background: #409eff;
              color: #fff;
              font-size: 12px;

              &+& {
                margin-left: 12px;
              }

              &:last-child {
                float: right;

                color: white;
              background-color: #409EFF;
              border-color: #409EFF;


              border-radius: 0;
              }

            }
          }

          .article-title {

            &:nth-child(odd) {
              // background-color: #F0A4D3;

              .article-info {

                .el-link {
                  color: #808080;
                }
              }
            }

            &:nth-child(even) {
              // background-color: #edcbe0;
            }

            .article-info {
              padding: 10px 0 0 !important;
            }
          }
        }






      }

    }

  }
}