#school-all {

  color: #333;

  padding: 82px 0;

  background-image: url('~assets/img/school-icon/school-bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;



  .title {

    border-bottom: 1px solid #b2b2b2;


    h3 {

      margin-block-start: 0;
      margin-block-end: 0;
      font-size: 32px;
      width: fit-content;
      height: 48px;
      font-weight: 500;
      line-height: 36px;
      font-family: 幼圆;
      border-bottom: 3px solid #00C658;

      

    }

  }

  .school-all-list {

    padding: 36px 0;

    .el-row {

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      margin: 0 !important;

      &:after,
      &:before {
        display: none;
      }


      .el-col {

        

        flex: 1;
        padding: 0  10px !important;
        margin: 10px 0;
        height: 146px;
        min-width: 286px;
        max-width: 286px;

        background-color: #fff;
        border: 1px solid #ddd;

        position: relative;

        .el-link {

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          img {}
        }
      }
    }
  }



}