#school {
  .special-course-all {
    .options-lesson {
      background: #fff;
      margin: 20px 0;
      padding: 9px 0;

      .el-col {

        div {
          padding-left: 3%;
        }
      }
    }
  }

}