#school-teacher {


  margin: 20px 0 81px;

  h2 {}

  .el-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    background-color: #fff;

    &::after,
    &::before {
      display: none;
    }

    .el-col {
      flex: 1;
      min-width: 210px;
      max-width: 210px;
      margin: 36px;
      position: relative;

      .outer {
        text-decoration: none;
        color: #333;

        img {
          width: 80px;
          border-radius: 50%;
        }

        h3 {
          font-size: 16px;
          margin: 10px 0;
          font-weight: 300;
        }

        span {
          font-size: 12px;
          font-weight: 200;
        }
      }





    }
  }

  .options-lesson-pages {

    // -------------------让分页水平居中对齐
    display: table;
    margin: 0 auto;

    padding: 30px 0 112px;

    .el-pagination {
      // 适合内容
      width: fit-content;

    }
  }
}